]
* {
    display: flex;
    flex-direction: row;
  }
header{
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 30%;
}

.gray {
    width: 50%;
    background-color: #c4c4c4;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fotinha {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;    
    gap: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.fotinha img {
    height: 4rem;
    gap: 1rem;
}

.black{
    width: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.text-header {
    color: white;
    margin: 2rem;
} 

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;    
    gap: 2rem;
    margin-right: 2rem;
}

.menu img {
    height: 2rem;
    gap: 1rem;
}