]
* {
    display: flex;
    flex-direction: row;
  }
header{
    display: flex;
    flex-direction: row;
    height: 30%;
}

.gray {
    width: 50%;
    background-color: #c4c4c4;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fotinha {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;    
    gap: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.fotinha img {
    height: 4rem;
    gap: 1rem;
}

.black{
    width: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.text-header {
    color: white;
    margin: 2rem;
} 

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;    
    gap: 2rem;
    margin-right: 2rem;
}

.menu img {
    height: 2rem;
    gap: 1rem;
}

main{
    background-color: #c4c4c4;
    width: 50%;
    height: 100%;
}

.main-bege {
    background-color: beige;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    margin-left: 2rem;
}


.main-gray {
    background-color: #c4c4c4;
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4rem;
    align-items: center;
    margin: 1rem;
}

.linha {
    width: 0.01rem;
    height: 5rem;
    background-color: black;
    margin-left: 1rem;
}

.main-gray img{
    height: 7rem;
    width: auto;
    margin-left: 1rem;
}

.text-main {
    display: flex;
    gap: 7rem;
}

/

.text-main1 {
    display: flex;
    gap: 9rem;
    flex-direction: row;
}

.texto-total {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 7rem;
    margin-top: 1rem;
}

.total {
    margin:0.5rem;
    background-color: rgba(128, 128, 128, 0.158);
}

.botões {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 2rem;
    height: 15%;
}

.botão-cancelar {
    background-color: #e75757;
    width: 18rem;
    height: 3rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.botão-cancelar img {
        height: 50%;
        margin: 1rem;
}

.confirmar-botão {
    background-color: #579ae7;
    width: 18rem;
    height: 3rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.confirmar-botão img{
    height: 50%;
    margin: 1rem;
}

.milagre {
    display: flex;
    flex-direction: row;
    height: 100%;
}
aside {
    width: 50%;
    height: 100%;
}

.main-black {
    background-color: #000000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.texto1{
    display: flex;
    flex-direction: column;
}

.texto2 {
    color: #e9e9e9;
    font-size: 2rem;
    display: flex;
    text-align: start;
    flex-direction: column;
    margin: 2rem;
}

.linha2 {
    display: flex;
    width: 29rem;
    height: 0.075rem;
    background-color: #f2efe5;
}

.sub-texto {
    color: #e9e9e9;
    font-size: 1.5rem;
    text-align: start;
    flex-direction: column;
    margin-left: 4rem;
    display: flex;
    gap: 0.075rem;
}

.linha3 {
    display: flex;
    background-color: #f2efe5;
    width: 8rem;
    height: 0.075rem;
}

.pagamento-icones {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
}

.pagamento-icones img {
    height: auto;
    width: 15%;
}

.foto-cartao{
    align-items: center;
    display: flex;
    justify-content: center;

}

.footer {
    color: #e9e9e9;
    align-items: flex-end;
    text-align: end;
    flex-direction: row;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
    margin-bottom: 1rem ;
}